<h1>
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the MongoDB schema object }}
  <fieldset>
    <label for="singerName" class="col-2">
      Singer Name:
    </label>
    <input 
      name="singerName" 
      id="singerName" 
      required 
      value="{{singer.singerName}}" 
    />
  </fieldset>
  <fieldset>
    <label for="lyricistName" class="col-2">
      Lyricist Name:
    </label>
    <input 
      name="lyricistName" 
      id="lyricistName" 
      required 
      value="{{singer.lyricistName}}" 
    />
  </fieldset>
  <fieldset>
    <label for="song" class="col-2">
      Song:
    </label>
    <select name="song" id="song">
      {{#each songs}}
        {{createOptionElement this.name ../singer.song}}
      {{/each}}
    </select>
  </fieldset>
  <fieldset>
    <label for="views" class="col-2">
      Views/Listeners:
    </label>
    <input 
      name="views" 
      id="views" 
      type="text" 
      value="{{singer.views}}" 
    />
  </fieldset>
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>
